<div class="container b-content ">
  <p id="notice"><%= notice %></p>
  <div class="d-flex justify-content-between mb-3">
    <h3 class=" text-primary">All Group</h3>
    <%=  link_to 'New Group', new_group_path, class:"btn btn-primary text-center" %>
      </div>
    <% @groups.each do |group| %>
    <div class="card" >
      <div class="d-flex justify-content-around">
          <div class="mt-4">
            <i class=" display-3 <%=group.icon %>"></i>
          </div>
          <div class="d-block">
              <div class="card-body">
                  <h5 class="card-title"> <%= group.name %></h5>
                  <span class="text-muted"><%= group.created_at.strftime("%d-%b-%Y") %></span>
              </div>
          </div>
           <%= link_to 'Show', group, class:"mt-5" %>
      </div>
    </div>     
    <% end %>
</div>
