<div class="group_pos">
<p id="notice"><%= notice %></p>
<h1 class="text-center">Groups</h1>
<div class="group_app container">
  
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td><br>
          <td><i class="<%= group.icon %>"></i></td><br>
          <td><small class="text-muted"><%= group.created_at %></small></td>
          <td><%#= link_to 'Show', group %></td>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td><br/>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<button>
  <%= link_to 'New Group', new_group_path, class:"form-control"%>
</button>

      </div>


