
<div class="container">
  <div class="mt-5 pt-5 d-flex justify-content-between">
    <div class="">
      total amount of transaction :
    </div>
    <div class="actual_total_amount">
      $ <%= @total_group_amt %>
    </div>
  </div>
</div>
        <div class="container b-content ">
          <p id="notice"><%= notice %></p>
          <div class="d-flex justify-content-between mb-3">
            <h3 class=" text-primary">All Group</h3>
            <%=  link_to 'New Group', new_group_path, class:"btn btn-primary text-center" %>
            <%= link_to 'Back', groups_path %>
              </div>
            <% @group_trans.each do |group| %>
            <div class="card" >
              <div class="d-flex justify-content-around">
                  <div class="mt-4">
                    <i class=" display-3 <%=group.group.icon %>"></i>
                  </div>
                  <div class="d-block">
                      <div class="card-body">
                          <h5 class="card-title"> <%= group.name %></h5>
                          <p class="text-muted"><%= group.user.name%></p>
                          <span class="text-muted"><%= group.created_at.strftime("%d-%b-%Y") %></span>
                          <%= group_edit_destroy( group) %>
                      </div>
                  </div>
                   <div class="d-block mt-4">
                    <p > $ <%=group.amount %></p>
                   </div>
              </div>
            </div>     
            <% end %>
        </div>
