<div class="card mx-xl-5 session_card">
  <div class="card-body">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p class="h4 text-center py-4">Edit User</p>
    <%= form.label :name, class:"grey-text font-weight-light" %>
    <%= form.text_field :name, class: 'form-control'%>
    <%= form.label :email, class:"grey-text font-weight-light"%>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <div class="text-center py-4 mt-3 ">
    <%= form.submit class: 'btn btn-success text-white'%>
  </div>
<% end %>
</div>
</div>