<div class="card mx-xl-5 session_card">
  <div class="card-body">
    <%= simple_form_for(@transaction) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
            <%= f.input :name, input_html: {class: 'form-control'}, wrapper: false, label_html: {class: 'grey-text font-weight-light'} %>
            <%= f.input :amount, input_html: {class: 'form-control'}, wrapper: false, label_html: {class: 'grey-text font-weight-light'} %>
            <%= f.association :group, input_html: {class: 'form-control'}, wrapper: false, label_html: {class: 'grey-text font-weight-light'}  %>
        </div>

        <div class="form-actions">
            <%= f.button :submit, class:"form-control bg-primary text-white my-5" %>
        </div>
    <% end %>
  </div>
</div>
