<div class="wrapper">
    <% if logged_in? %>
    <div class="sidebar">
        <center class="profile">
            <i class="fas fa-user user_profile"></i>
            <h4><%= link_to current_user.name, user_path(User.find(session[:user_id])), class:"navbar-item" %></h4>
        </center>
        <ul>
            <li> <%= link_to groups_path, class:"active" do%>
                <span class="icon">
                    <i class="fas fa-cash-register" aria-hidden="true"></i>
                </span>
                <span class="title">
                        Create Group
                </span>
                <%end%>
            </li>
            <li> <%= link_to new_group_path do%>
                <span class="icon">
                    <i class="fas fa-cash-register" aria-hidden="true"></i>
                </span>
                <span class="title">
                        Create Group
                </span>
                <%end%>
            </li>
            <li> <%= link_to new_group_path do%>
                <span class="icon">
                    <i class="fas fa-cash-register" aria-hidden="true"></i>
                </span>
                <span class="title">
                        Create Group
                </span>
                <%end%>
            </li>
            <li> <%= link_to new_group_path do%>
                <span class="icon">
                    <i class="fas fa-cash-register" aria-hidden="true"></i>
                </span>
                <span class="title">
                        Create Group
                </span>
                <%end%>
            </li>
        </ul>
    </div>

    <%end%>
</div>