<!DOCTYPE html>
<html>
  <head>
    <title>CashTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/03774beff9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "layouts/nav"%>
      <%= yield :sidebar%>
      <%= yield %>  
  </body>
</html>
